/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px;
}

.step {
    padding: 20px;
    display: none;
}

.hidden {
    display: none;
}

#map {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

#qrCode {
    margin-top: 20px;
}
